@model PetShopProject.ViewModels.EditAnimalViewModel

@{
    ViewBag.Title = "Add Animal";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <p class="p-title">Add New Animal</p>
    <form asp-action="AddAnimalPost" asp-controller="Administrator"  enctype="multipart/form-data" method="post">
        <table>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Animal.Name)
                </td>
                <td>
                    @Html.EditorFor(m => m.Animal.Name)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.Animal.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Animal.Age)
                </td>
                <td>
                    @Html.EditorFor(m => m.Animal.Age)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.Animal.Age)
                </td>
               
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Animal.PictureUrl)
                </td>

                <td>
                    <input type="file" asp-for="PictureFile">
                </td>

                @if (Model.PictureErrorMsg != null)
                {
                    <td>
                        @Model.PictureErrorMsg
                    </td>
                }
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Animal.Description)
                </td>
                <td>
                    @Html.EditorFor(m => m.Animal.Description)
                </td>
               
            </tr>
            <tr>
                <td>
                    <label>Catagoy</label>
                </td>
                <td>
                    @Html.DropDownListFor(n => n.Animal.CatagoryId, new SelectList(Model.Catagories, "Id", "Name"))
                </td>                
            </tr>
        </table>
        <input type="submit" value="Save" class="btn-post-animal" />
    </form>

</body>
</html>
